<!-- web_app/templates/new_user.html -->

{% extends 'layout.html' %}

{% block content %}

    <h1>New User Page</h1>

    <p>Please fill out the form and submit to create a new user</p>

    <form action="/users/create" method="POST">

        <label>Name:</label>
        <input type="text" name="name" placeholder="Jiminy Christmas" value="Jiminy Christmas">

        <label>Birth Date:</label>
        <input type="date" name="birthdate" placeholder="2001-01-01" value="2001-01-01">

        <label>Dogs vs. Cats:</label>
        <select name="dog_or_cat">
            <option value="Dogs">Dogs</option>
            <option value="Cats">Cats</option>
            <option value="Both">Both</option>
            <option value="Neither">Neither</option>
        </select>

        <button>Submit</button>
    </form>
{% endblock %}
